$charcoal: #222;
$yellow: #ffff64;
$bright-blue: #5ba7c2;
$pale-blue: #99a7ee;
$bright-green: #0ecb27;
$pink: #ff1464;

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  align-items: center;
  flex-direction: row;
  background: #000;
  color: #ccc;
}

.footer li {
  float: left;
  padding: 10px 0px 10px 10px;
}

.contact {
  color: $bright-blue;
}

.contact:hover {
  color: $pink;
}
