body {
  font-family: 'Assistant', sans-serif;
}

.header-top {
  padding: 1px;
  background: #ffff64;
  position: relative;
}

.search-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.logo-container {
  background-image: url(/geniuslogo.png);
  width: 150px;
  height: 40px;
  background-size: contain;
  margin: 0 auto;
}

.auth-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Cairo';
  font-weight: 400;
  font-size: 13px;
  display: flex;
}

/* line 29, /Users/appacademy/genius/app/assets/stylesheets/header.scss */
.auth-nav li {
  padding: .7em .6em;
}

/* line 33, /Users/appacademy/genius/app/assets/stylesheets/header.scss */
.auth-nav a:hover {
  background: white;
}

/* line 37, /Users/appacademy/genius/app/assets/stylesheets/header.scss */
nav {
  display: flex;
  justify-content: center;
  background: #000;
  color: #99a7ee;
  padding: .5em 1.5em;
  font-size: .875em;
  text-transform: uppercase;
}

/* line 46, /Users/appacademy/genius/app/assets/stylesheets/header.scss */
nav :hover {
  color: #ffff64;
}

@font-face {
  font-family: 'DIN Pro Condensed Regular';
  font-style: normal;
  font-weight: normal;
  src: local('DIN Pro Condensed Regular'), url('DINPro-Cond.woff') format('woff');
}
