$charcoal: #222;
$yellow: #ffff64;
$bright-blue: #5ba7c2;
$pale-blue: #99a7ee;
$bright-green: #0ecb27;
$pink: #ff1464;

body {
  font-family: 'Assistant', sans-serif;
}

li:hover,
a:hover {
  transition: .15s;
}

.header-top {
  padding: 0px 10px 0px 10px;
  background: $yellow;
  position: relative;
}

.search-placeholder {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 10px;
}

.logo-container {
  background-image: url(/geniuslogo.png);
  width: 150px;
  height: 40px;
  background-size: contain;
  margin: 0 auto;
}

.auth-nav {
  position: absolute;
  top: 0;
  right: 10px;
  display: flex;
  color: #222;
  -webkit-transition: .15s all;
  transition: .15s all;
}


.auth-nav li {
  padding: 10px;
  position: relative;
  cursor: pointer;

}

.auth-nav li:hover, .highlight {
  color: white;
  background: $pink;
}

nav {
  display: flex;
  justify-content: center;
  background: #000;
  color: $pale-blue;
  padding: .875em 1.5em;
  font-size: .875em;
  text-transform: uppercase;
}

nav :last-of-type {
  margin-right: 0;
}

nav :hover {
  color: $yellow;
}

.nav-link {
  margin-right: 30px;
}

.user-dropdown {
  transition: .15s;
  display: none;
  width: 200px;
}

.auth:hover > .user-dropdown {
  transition-delay: .15s;
  display: block;
  position: absolute;
  right: 0;
  top: 40px;
  background: $pink;
  color: white;
  z-index: 10;
}

.auth-form {
  padding: 20px;
  color: white;
}

input {
  height: 20px;
  line-height: 1.4em;
  background: white;
  color: $pink;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-weight: 400;
  font-size: 1.2em;
  width: 140px;

}

.submit, button {
  height: auto;
  font-size: 1em;
  font-weight: 700;
  width: 100px;
  margin-top: 20px;
  background: #fff;
  color: $pink;
  padding: 5px;
  padding-left: 8px;
  transition: .15s ease 0s;


}
.submit:hover, button:hover {
  border: .5px solid white;
}

.form-error {
  font-size: .875em;
  font-style: italic;
}

.user-dropdown li:hover{
  background: white;
  color: $pink;
}
//
// <ul className="auth-nav">
//   <button onClick={this.props.handleLogout} className="auth">
//     Log Out
//   </button>
//
//   <li className="auth">
//     Hi, {this.props.currentUser.username}!
//   </li>
// </ul>

@font-face {
  font-family: 'DIN Pro Condensed Regular';
  font-style: normal;
  font-weight: normal;
  src: local("DIN Pro Condensed Regular"), url("DINPro-Cond.woff") format("woff");
}
