
header {
  background: #ffff64;
  display: flex;
  justify-content:space-between;
}


section.logo {
  margin: 0 auto;
  width: 135px;
  background-size: contain;
  position: relative;
  z-index: 1;
}

.nav {
  display: flex;
}

.nav li {
  padding: 10px;
}

.nav a:hover {
  background: white;
}
