body, header, ul, li,
div, section, h1, h2,
h3, a, p, button, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;

  display: block;

  background: transparent;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

body {
  min-height: 600px;
  background: #fafafa;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
