$charcoal: #222;
$yellow: #ffff64;
$bright-blue: #5ba7c2;
$pale-blue: #99a7ee;
$bright-green: #0ecb27;
$pink: #ff1464;

.invisible {
  display: none;
}

.song-splash {
  background: #ccc;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 220px;
  color: white;
  position: relative;
}

.splash-content {
  font-family: 'Cairo', serif;
  font-weight: 700;
  position: relative;
  max-width: 1020px;
  line-height: 3em;
  top: 80px;
  margin: 0 auto;
  padding-left: 30px;
}

.splash-title {
  font-size: 2.5em;
  color: #ffff64;
  padding: 0;
  max-width: 50%;
}

.splash-artist {
  font-weight: 400;
  font-size: 1.5em;
}

.not-splash {
  display: flex;
  color: #222;
  background: white;
  max-width: 1020px;
  margin: 0 auto;
}

.song-left-col {
  width: 60%;
  position: relative;
  padding: 20px;
  padding-left: 30px;
  white-space: pre-line;
  font-size: 1.25em;
  line-height: 1.7em;

  .comment-author {
    line-height: normal;
  }
}

.annotation-tag {
  background-color: $bright-green;
  padding: .1em;
  display: inline-block;
  box-shadow: .1em 0 0 $bright-green;
  cursor: pointer;
}

.annotation-segment {
  position: absolute;
  width: 85%;
}

.annotation-prompt {
  padding: 10px;

  a {
    color: $bright-blue;
    border: 2px solid #ccc;
    cursor: pointer;
    text-align: center;
    padding: 3px 0px 3px 0;
  }

  a.signup {
    color: white;
    background: $bright-green;
    border: 2px solid $bright-green;
  }

  a:hover {
    background: $bright-green;
    border: 2px solid $bright-green;
    padding: 5px 0px 5px 0;
    color: white;
  }
}

button.annotation-prompt {
  margin-top: 0;
  border: 2px solid $bright-green;
}

button.annotation-prompt:hover {
  color: white;
  cursor: pointer;
  background: $bright-green;
  transition: all .15s;
}

.annotation {
  border-left: 6px solid $yellow;

  input, button {
    border: 2px solid $bright-green;
    font-weight: 400;
    color: $bright-green;
    background: white;
    margin-top: 5px;
  }

  button.demo-login {
    float: none;
  }

  input.submit, button {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    border-left: 4px solid $bright-green;

  }

  input.submit:hover {
    border: 2px solid $bright-green;
    font-weight: 400;
    background: $bright-green;
    color: white;
  }

  input.submit.submit-disabled {
    color: #aaa;
    border-color: #aaa;
  }

  button:hover {
    border: 2px solid $bright-green;
    font-weight: 400;
    background: $bright-green;
    color: white;
  }

  label {
    color: #222;
  }

  label.dividing-text {
    float: left;
    margin-right: 10px;
    padding: 10px;
  }

  p {
    color: red;
  }

  h3 {
    padding-left: 10px;
  }
}

span.dividing-text {
  display: block;
  margin: 5px 0 5px 0;
  text-align: center;
}

.annotation-view {
  padding: 10px;
  background: white;
}

.annotation-author {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}

button.cancel-button {
  float: left;
  color: #ccc;
  border: 2px solid #ccc;
  cursor: pointer;
  background: transparent;
}

button.cancel-button:hover {
  background: #aaa;
  color: white;
  border: 2px solid #aaa;
}

button.save-button, button.annotation-button {
  margin-right: 10px;
  float: left;
  color: $bright-green;
  background: white;
  border-left: 4px solid $bright-green;
}

button.annotation-button {
  position: absolute;
  top: -13px;
  width: 60%;
  text-align: left;
}

button.save-button:hover, button.annotation-button:hover {
  background: $bright-green;
  color: white;
}

.annotation-form {
  padding: 10px;
  background: #E6E6E6;

  textarea {
    padding: 5px;
    font-size: 1em;
    width: 90%;
    border: 2px solid #ccc;
    background: white;
  }

  textarea:focus {
    outline: none;
  }
}

.song-right-col {
  position: relative;
  width: 40%;
  padding: 10px 40px 10px 30px;
  max-width: 400px;
  height: 400px;
  white-space: pre-line;
}

.album-cover:after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 30%;
  background-image: url("http://simonduflo.com/klynt/cinov/Medias/Photos/play-logo.png");
  background-size: 25%;
  filter: invert(90%);
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
}

.album-cover, .player-box {
  background: #000;
}

.album-cover, .player, .player-box {
  position: relative;
  min-height: 300px;
  width: 300px;
  margin-top: -210px;
  border: 4px solid white;
  box-sizing: border-box;
  background-size: contain;
  background-position: 0;
  background-repeat: no-repeat;
}

.player {
  padding: 50px 0 50px 0;
  margin: -244px 0 0 -4px;
}

.spinner {
  height: 40px;
  width: 40px;
  margin: 100px auto;
  background-color: white;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.song-info-stats {
  margin-top: 30px;
  border: 1px solid #000;
  height: 100px;
}

.song-about {
  padding-top: 20px;
  font-size: 1.2em;
  line-height: 1.7em;
}

.lyrics, .ghost-lyrics {
  position: absolute;
  max-width: 100%;
  padding-bottom: 10px;

  a {
    position: relative;
    display: inline;
    background-color: #E6E6E6;
    color: #222;
    z-index: 3;

  }

  a:hover {
    background: $bright-green;
    cursor: pointer;
  }

  a.selected-annotation {
    background: $yellow;
  }
}

.ghost-lyrics {
  z-index: 2;
  color: transparent;
}

.comment {
  padding: 10px;

  button {
    margin: 0 5px 0 0;
    float: right;
  }
}

.comments {
  background: #E6E6E6;
  font-size: 1rem;
}

.comment-content {
  float: left;
}

.separator {
  height: 4px;
  background: #aaa;
  margin: 10px 0px 15px 0px;
}

.comment-author {
  text-transform: uppercase;
  font-size: .875em;
  font-weight: 700;
}
