$charcoal: #222;
$yellow: #ffff64;
$bright-blue: #5ba7c2;
$pale-blue: #99a7ee;
$bright-green: #0ecb27;
$pink: #ff1464;

.invisible {
  display: none;
}

/* line 10, /Users/appacademy/genius/app/assets/stylesheets/song.scss */
.song-splash {
  background-image: url("https://i.ytimg.com/vi/4NJlUribp3c/maxresdefault.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 220px;
  color: white;
  position: relative;
}

/* line 20, /Users/appacademy/genius/app/assets/stylesheets/song.scss */
.splash-content {
  font-family: 'Cairo', serif;
  font-weight: 400;
  position: absolute;
  max-width: 50%;
  line-height: 3em;
  top: 20%;
  left: 30px;
}

/* line 28, /Users/appacademy/genius/app/assets/stylesheets/song.scss */
.splash-title {
  font-size: 2.5em;
  color: #ffff64;
  padding: 0;
}

/* line 34, /Users/appacademy/genius/app/assets/stylesheets/song.scss */
.splash-artist {
  font-weight: 400;
  font-size: 1.5em;
}

.not-splash {
  display: flex;
  color: #222;
  background: white;
  max-width: 1020px;
  margin: 0 auto;
}
.song-left-col {
  width: 60%;
  padding: 20px;
  padding-left: 30px;
  white-space: pre-line;
  font-size: 1.25em;
  line-height: 1.7em;
}

.annotation-tag {
  background-color: $bright-green;
  padding: .1em;
  display: inline-block;
  box-shadow: .1em 0 0 $bright-green;
  cursor: pointer;
}

.annotation-segment {
  position: absolute;
  width: 85%;
}

.annotation-prompt {
  padding: 10px;
  border: 4px solid $bright-green;

  a {
    color: $bright-blue;
    border: 2px solid #ccc;
    cursor: pointer;
    text-align: center;
    padding: 3px 0px 3px 0;
  }

  a.signup {
    color: white;
    background: $bright-green;
    border: 2px solid $bright-green;
  }

  a:hover {
    background: $bright-green;
    border: 2px solid $bright-green;
    padding: 5px 0px 5px 0;
    color: white;
  }
}

button.annotation-prompt {
  margin-top: 0;
  border: 2px solid $bright-green;
}

button.annotation-prompt:hover {
  color: white;
  cursor: pointer;
  background: $bright-green;
  transition: all .15s;
}

.annotation {
  border-left: 6px solid $yellow;

  input, button {
    border: 2px solid $bright-green;
    font-weight: 400;
    color: $bright-green;
    background: white;
    margin-top: 5px;
  }

  button.demo-login {
    float: none;
  }

  input.submit, button {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
  }

  input.submit:hover {
    border: 2px solid $bright-green;
    font-weight: 400;
    background: $bright-green;
    color: white;
  }

  button:hover {
    border: 2px solid $bright-green;
    font-weight: 400;
    background: $bright-green;
    color: white;
  }

  label {
    color: #222;
  }

  label.dividing-text {
    float: left;
    margin-right: 10px;
    padding: 10px;
  }

  p {
    color: red;
  }
}

span.dividing-text {
  display: block;
  margin: 5px 0 5px 0;
  text-align: center;
}

.annotation-view {
  padding: 10px;
}

.annotation-author {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}

button.cancel-button {
  float: left;
  color: #ccc;
  border: 2px solid #ccc;
  cursor: pointer;
}

button.cancel-button:hover {
  background: #222;
  color: white;
  border: 2px solid #222;
}

button.save-button, button.annotation-button {
  margin-right: 10px;
  float: left;
  color: $bright-green;
  background: white;
  border: 2px solid $bright-green;
}

button.annotation-button {
  position: absolute;
  top: -13px;
  width: 60%;
  text-align: left;
}

button.save-button:hover, button.annotation-button:hover {
  background: $bright-green;
  color: white;
}

.annotation-form {
  padding: 10px;

  textarea {
    padding: 5px;
    font-size: 1em;
    width: 90%;
    border: 2px solid #ccc;
  }

  textarea:focus {
    outline: none;
  }
}

.song-right-col {
  position: relative;
  width: 40%;
  padding: 10px 40px 10px 30px;
  max-width: 400px;
  height: 400px;
}

.album-cover {
  min-height: 300px;
  width: 100%;
  background: wheat;
  margin-top: -210px;
  border: 4px solid white;
  box-sizing: border-box;
  background-image: url(http://i30.photobucket.com/albums/c307/rye415/Jason.png);
  background-size: cover;
}

.song-info-stats {
  margin-top: 30px;
  border: 1px solid #000;
  height: 100px;
}

.song-about {
  margin-top: 30px;
  border: 1px solid #000;
  height: 100px;
}

.lyrics, .ghost-lyrics {
  position: absolute;
  max-width: 45%;

  a {
    position: relative;
    display: inline;
    background-color: #E6E6E6;
    color: #222;
    z-index: 3;

  }

  a:hover {
    background: $bright-green;
    cursor: pointer;
  }

  a.selected-annotation {
    background: $yellow;
  }
}


.ghost-lyrics {
  z-index: 2;
  color: transparent;
}
