// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$charcoal: #222;
$yellow: #ffff64;
$bright-blue: #5ba7c2;
$pale-blue: #99a7ee;
$bright-green: #0ecb27;
$pink: #ff1464;
