$charcoal: #222;
$yellow: #ffff64;
$bright-blue: #5ba7c2;
$pale-blue: #99a7ee;
$bright-green: #0ecb27;
$pink: #ff1464;

.song-display-page {
  background: #000;
  padding: 0px 10px;

  h3 {
    margin-top: 1.3em;
    padding-top: 10px;
  }
}

h3 {
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  font-size: .875em;
  color: #aaa;
  text-transform: uppercase;
  align-self: flex-start;
}

.song-display-splash {
  background-image: url(https://images.unsplash.com/photo-1415886541506-6efc5e4b1786?dpr=1&auto=format&crop=entropy&fit=crop&w=1386&h=924&q=80);
  background-size: cover;
  background-position: 0px -50px;
  height: 350px;
  width: 100%;
  display: block;
  margin-bottom: -20px;
  position: relative;
}

.song-display-splash-text {
  position: absolute;
  top: 20%;
  bottom: 40%;
  left: 5%;
  right: 5%;
  color: white;
  font-size: 2em;
  text-align: center;
  padding: 0px 10px 0px 10px;
  font-family: 'Galada', serif;
}

.song-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about {
  box-sizing: border-box;
  border: 1px solid #1E1E1E;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  height: auto;
  padding: 10px;
  color: #aaa;

  a {
    display: inline-block;
    color: $bright-blue;
    cursor: pointer;
  }

  a:hover {
    color: $pink;
  }
}

.song-display-item.about:hover {
  border: 1px solid #1E1E1E;
}

.song-display-item {
  box-sizing: border-box;
  border: 1px solid #1E1E1E;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  height: 140px;
  padding: 10px;
  color: #aaa;
  background-size: cover;
}


.song-display-item:hover {
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.song-display-item {
  font-family: 'Cairo', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
}

.song-display-item .song-artist {
  background: #000;
  padding-right: 8px;
  display: inline-block;
  line-height: 1.9em;
  padding-left: 8px;
}

.song-display-item .song-title {
  font-family: 'Cairo', sans-serif;
  background: #000;
  font-size: 1em;
  box-shadow: -10px 0px #000;
  font-weight: 700;
}
//
// @font-face {
//   font-family: 'DIN Pro Condensed Regular';
//   font-style: normal;
//   font-weight: normal;
//   src:font-url("/assets/din-pro-cond/DINPro-Cond.woff") format("woff");
// }
// @font-face {
//   font-family: 'DIN Pro Condensed Bold';
//   font-style: normal;
//   font-weight: normal;
//   src:font-url("/assets/din-pro-cond/DINPro-CondBold.woff") format("woff");
// }
