/* line 10, /Users/appacademy/genius/app/assets/stylesheets/song.scss */
.song-splash {
  background-image: url("https://i.ytimg.com/vi/4NJlUribp3c/maxresdefault.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  color: white;
  position: relative;
}

/* line 20, /Users/appacademy/genius/app/assets/stylesheets/song.scss */
.splash-content {
  font-family: 'Cairo', serif;
  font-weight: 700;
  position: absolute;
  top: 20%;
  left: 5%;
}

/* line 28, /Users/appacademy/genius/app/assets/stylesheets/song.scss */
.splash-title {
  font-size: 2.5em;
  color: #ffff64;
  padding: 0;
}

/* line 34, /Users/appacademy/genius/app/assets/stylesheets/song.scss */
.splash-artist {
  font-weight: 400;
  font-size: 1.7em;
}

.not-splash {
  display: flex;
}
.song-left-col {
  width: 60%;
  background: wheat;
  padding: 30px;
}

.song-right-col {
  width: 20%
  background: blue;
}
