$charcoal: #222;
$yellow: #ffff64;
$bright-blue: #5ba7c2;
$pale-blue: #99a7ee;
$bright-green: #0ecb27;
$pink: #ff1464;

.song-display-page {
  background: #000;
  padding: 0px 10px;

  h3 {
    margin-top: 1.3em;
    padding-top: 10px;
  }
}

h3 {
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  font-size: .875em;
  color: #aaa;
  text-transform: uppercase;
  align-self: flex-start;
}

.song-display-splash {
  background-image: url(https://images.unsplash.com/photo-1415886541506-6efc5e4b1786?dpr=1&auto=format&crop=entropy&fit=crop&w=1386&h=924&q=80);
  background-size: cover;
  background-position: 0px -50px;
  height: 350px;
  width: 100%;
  display: block;
  margin-bottom: -20px;
}

.song-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about {
  box-sizing: border-box;
  border: 1px solid #1E1E1E;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
  height: auto;
  padding: 10px;
  color: #aaa;

  a {
    display: inline-block;
    color: $bright-blue;
    cursor: pointer;
  }

  a:hover {
    color: $pink;
  }
}

.song-display-item.about:hover {
  border: 1px solid #1E1E1E;
}

.about-image-container {
  filter: invert(100%);
  background-image-size: cover;
  display: inline-block;
}


.song-display-item {
  box-sizing: border-box;
  border: 1px solid #1E1E1E;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
  height: 125px;
  padding: 10px;
  color: #aaa;
  background-image: linear-gradient(rgba(40, 40, 40, 0.6), rgba(40, 40, 40, 0.6));
  background-size: cover;
}


.song-display-item:hover {
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.song-display-item {
  font-family: 'DIN Pro Condensed Regular', sans-serif;
  font-size: 1.5em;
}

.song-display-item .song-artist {
  background: #000;
  box-shadow: 0px -1px #000;
  padding-right: 8px;
}

.song-display-item .song-title {
  font-family: 'DIN Pro Condensed Bold', sans-serif;
  background: #000;
  box-shadow: -10px 0px #000;
}

@font-face {
  font-family: 'DIN Pro Condensed Regular';
  font-style: normal;
  font-weight: normal;
  src:font-url("/assets/din-pro-cond/DINPro-Cond.woff") format("woff");
}
@font-face {
  font-family: 'DIN Pro Condensed Bold';
  font-style: normal;
  font-weight: normal;
  src:font-url("/assets/din-pro-cond/DINPro-CondBold.woff") format("woff");
}
